.search input{
    width: 80vw;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
}

.search button {
    height: 40px;
    width: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd69;
    border: 0;
}

.search button:hover {
    background-color: #e4aa5e;
}