.main__container {
    display: flex;
}

.product_images {
    margin: 5px;
    max-width: 500px;
    height: 500px;
    border: 1px solid black;
}

.main_details {
    display: flex;
    flex-direction: column;
}



