.card {
    position: absolute;
    z-index: 2;

    width: 350px;
    height: 400px;
    top: 30%;
    left: 11%;

    padding: 40px;
    border-radius: 5px;

    background-color: #ffffff;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}