.main img {
    position: relative;
    max-width: 80vw;
    width: 100%;
    mask-image: linear-gradient(to top, transparent 20%, black 80%);
}

.top_container {
    width: 80%;
    margin: auto;   
}